
body {
  padding: 20px;
}

h1 {
  margin-left: 5px;
}

.App {
  
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 55%;
}

li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 8px;
  min-width: 100px;
  max-width: 200px;
}

li button {
  background: #f2360c;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

li.low-priority {
  border: 2px solid dodgerblue;
  color: dodgerblue;
}

li.high-priority {
  border: 2px solid #f26507;
}

li.high-priority>span {
  color: #f26507;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}

button, input[type="submit"]{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 3px;
}

.radio-box {
  width: 51%;
  display: flex;
  justify-content: flex-end;
}

.radio-box > p {
  margin: 0 5px 0 0;
}

#low-label {
  color: dodgerblue;
}

.low-button {
  background-color: dodgerblue;
}

.high-button {
  background-color: #f26507; 
  }

#high-label {
  color: #f26507;
}

#completed-message {
  color: #1a681e;
  font-weight: 500;
  text-align: center;
  font-size: 1.1em;
}